<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"  th:replace="base::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>


	<section>
		
	<div class="imgcontainer" >
	
		
		<div class="welcomecontainer text-white text-center">
		
		
				<p>Manage your Contact using iContactManager. Very easy to use and you can access your contact anywhere!!!</p>
			
			<a href="" th:href="@{/iContactManager/user/}">	<button type="button" class="btn btn-outline-primary">Get started</button> </a>
				
		
		</div>
			
	</div>
	</section>

</body>
</html>