<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"  th:replace="base::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>


	<section>
		<h1 class="text-center text-white my-2">Register Here!!</h1>
		
		
		
		<div class="container text-white">
		
				<div th:if="${session.message}"   th:classappend="${session.message.type}" class="alert alert-dismissible fade show" role="alert">
 			<p th:text="${session.message.content}"></p>
 			 <button type="button" class="btn-close" data-dismiss="alert" aria-label="Close"> </button>
 			<th:block th:text="${#session.removeAttribute('message')}"></th:block>    
 			
		</div>
			<form th:action="@{/iContactManager/verifyuser}" method="post">
			  <div class="mb-3">
			    <label for="exampleInputEmail1" class="form-label">Email address</label>
			    <input type="email"  th:value="${user.email}" class="form-control" id="exampleInputEmail1" name="email" aria-describedby="emailHelp" required>
			    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
			  </div>
			   <div class="mb-3">
			    <label for="exampleInputEmail1" class="form-label">Name</label>
			    <input type="text" th:value="${user.name}" class="form-control" id="exampleInputEmail1" name="name" aria-describedby="emailHelp" required>
			  </div>
			  <div class="mb-3">
			    <label for="exampleInputPassword1" class="form-label">Password</label>
			    <input type="password" th:value="${user.password}" class="form-control" id="exampleInputPassword1" name="password" required>
			  </div>
			   <div class="mb-3">
			    <label for="exampleInputPassword1" class="form-label">Otp</label>
			    <input type="text" class="form-control" id="exampleInputPassword1" name="otp" required>
			  </div>
			   
			  <button type="submit" class="btn btn-outline-primary" style="font-weight:bold">Sing UP</button>
			  
			</form>
	</div>
	</section>

</body>
</html>